<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%console.log(drink, id) %>
    <a href="/drinks">Back to Index</a>

    <h2><%= drink.name%></h2>
    <h3>$<%= drink.price%></h3>
</body>
</html>